body {
background-color: #111111;
font-family: "Space Grotesk", sans-serif;
font-size: 36px;
color: #5c5c5c;
margin: 25px;
line-height: 60%;
}
p {
margin-bottom: 0;
}
a, a:visited {
text-decoration: none;
color: #5c5c5c;
}
#txt {
position: fixed;
bottom: 25px;
right: 25px;
color: #5c5c5c13;
font-size: 100px;
font-family: 'Noto Sans JP', sans-serif;
font-weight: 500;
pointer-events: none;
user-select: none;
line-height: 1.2;
text-align: right;
}
#desc {
color: #4747477a;
font-size: 30px;
margin-top: 15px;
margin-bottom: 30px;
}
@media (max-width: 600px) {
body {
font-size: 22px;
}
#txt {
font-size: 45px;
right: 15px;
bottom: 15px;
}
#desc {
font-size: 18px;
margin-top: 10px;
margin-bottom: 20px;
}
}