body {
background-color: #000000;
font-family: monospace;
font-size: 36px;
line-height: 150%;
margin: 25px;
}
a, a:visited {
text-decoration: none;
color: #ffffff;
}
p {
margin: 0;
font-size: 36px;
color: #ffffff;
}
#cursor {
display: inline-block;
width: 20px;
height: 35px;
background-color: white;
animation: blink 2s step-start infinite;
}
@keyframes blink {
0%, 50% {
opacity: 1;
}
50.1%, 100% {
opacity: 0;
}
}