body {
background-color: #111111;
font-family: "Space Grotesk", sans-serif;
font-size: 36px;
color: #5c5c5c;
margin: 25px;
line-height: 60%;
}
a, a:visited {
text-decoration: none;
color: #5c5c5c;
}
p {
opacity: 0; 
animation: fadeIn 1.5s ease forwards;
}
sup {
line-height: 0;
vertical-align: top;
}
#txt {
position: fixed;
bottom: 25px;
right: 25px;
color: #5c5c5c13;
font-size: 100px;
font-family: 'Noto Sans JP', sans-serif;
font-weight: 500;
pointer-events: none;
user-select: none;
line-height: 1.2;
text-align: right;
}
#music {
color: #bbbbbb;
}
@media (max-width: 600px) {
body {
font-size: 22px;
}
#txt {
font-size: 45px;
right: 15px;
bottom: 15px;
}
}
@keyframes fadeIn {
to {
opacity: 1;
}
}