body {
background-color: #111111;
font-family: "Space Grotesk", sans-serif;
font-size: 36px;
color: #5c5c5c;
margin: 25px;
line-height: 60%;
}
a, a:visited {
text-decoration: none;
color: #5c5c5c;
}
p {
opacity: 0; 
animation: fadeIn 1.5s ease forwards;
}
sup {
line-height: 0;
vertical-align: top;
}
#txt {
position: fixed;
bottom: 25px;
right: 25px;
color: #5c5c5c13;
font-size: 100px;
font-family: 'Noto Sans JP', sans-serif;
font-weight: 500;
pointer-events: none;
user-select: none;
line-height: 1.2;
text-align: right;
}
#music {
color: #bbbbbb;
}
#top {
width: 100vw;
height: 10px;
position: fixed;
top: 0;
left: 0;
z-index: 1;
background: linear-gradient(
to right,
#5f0f40 0%,
#5f0f40 20%,
#9a031e 20%,
#9a031e 40%,
#fb8b24 40%,
#fb8b24 60%,
#e36414 60%,
#e36414 80%,
#0f4c5c 80%,
#0f4c5c 100%
);
}
@media (max-width: 600px) {
body {
font-size: 22px;
}
#txt {
font-size: 45px;
right: 15px;
bottom: 15px;
}
}
@keyframes fadeIn {
to {
opacity: 1;
}
}